.cell {
    height: 40px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
}

#connectButton {
    background-color: darkred;
    font-weight: bold;
    width: 100px;
    color: white;
    text-align: center;
}

#skipButton {
    background-color: darkgreen;
    font-weight: bold;
    color: white;
    display: none;
    text-align: center;
}

#messageField {
    background-color: darkgreen;
    font-weight: bold;
    width: 200px;
    height: 30px;
    padding: 15px 0;
    color: white;
    display: none;
    text-align: center;
    
}

.playableCell {
    background-color: gray;
}

.checker {
    position: relative;
    top: 5%;
    left: 20%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
}

.checker1 {
    background-color: greenyellow;
}

.checker2 {
    background-color: rgb(205, 0, 247);
}

.checker3 {
    background-color: red;
}

.checker4 {
    background-color: lightseagreen;
}

.checker5 {
    background-color: pink;
}

.checker6 {
    background-color: yellow;
}